body{
  margin: 0;
  height: 100vh;
  background-image: url("./components/img/farmacia.png");
  background-repeat: no-repeat;
}
#root{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{
  margin: 0;
  padding: 2vw;
  text-align: center;
  color: white;
}
nav{
  background-color: rgba(0, 69, 148, 0.408);
}
.selectBuscador{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 18vh;
  align-items: center;
}
footer{
  height: 5vh;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
  color: rgb(0, 69, 148);
}
footer h6{
  margin: 0;

}